<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"> 
	<title>测试</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/main.js}"></script>
</head>
<body>
<div class="container">
    <form class="form-inline" role="form">
		<input type="text" class="form-control" id="url" placeholder="ws://127.0.0.1:8080/my-chat/echo">
        <input type="button" class="btn btn-default" id="add" value="连接"></input>
        <input type="button" class="btn btn-default" id="close" value="断开"></input>
</form>
<textarea class="form-control" rows="15" style="resize: none" disabled id="show"></textarea>
<input type="text" class="form-control" id="url" placeholder="输入">
<input type="button" class="btn btn-default" id="send" value="发送"></input>
</div>
</div>


</body>
</html>